.form-group
  = form.label :name, "Name"
  = form.text_field :name, class: "form-control"
.form-group
  = form.label :author, "Author"
  = form.text_field :author, class: "form-control"
.form-group
  = form.button "Create", type: "submit", class: "btn btn-primary"

