.form-group
  = form.label :name, "Name"
  = form.text_field :name, class: "form-control"
.form-group
  = form.label :user_id, "Author"
  = text_field_tag :user, @quiz.user.name, readonly: true
  = form.hidden_field :user_id, value: @quiz.user.id

