- content_for :title, "QuizVids || Edit Quiz"
- question_index = 0

.row
  %h2 Edit Quiz

  .row
    .col-md-8
    = form_for(@quiz) do |form|
      - @quiz.errors.full_messages.each do |msg|
        = msg

      = render :partial => "form", :locals => { :form => form }
      %hr
      %h2 Questions
      = form.fields_for :questions do |q|
        .row.question{:data => { :question_index => "0" } }
          - question_index += 1

          %h3
            = "Question #{question_index.to_s}"
            = link_to "Remove", "#", class: "remove_question btn btn-default"

          .form-group
            = q.label :content, "Question Content"
            = q.text_field :content, class: "form-control"

            = q.fields_for :answers do |af|
              .row
                .form-group.col-sm-9
                  = af.label :content, "Answer"
                  = af.text_field :content, class: "form-control"
                .form-group.col-sm-3.correct_checkbox
                  = af.label :correct, "Correct?"
                  = af.check_box :correct

      .row
        = link_to "Add Question", "#", class: "add_question btn btn-info"
      .row
        .form-group
          = form.button "Update", type: "submit", class: "btn btn-primary"
