- content_for :title, "QuizVids || New Quiz"
- question_index = 0

.row
  %h2 New Quiz

= form_for(@quiz) do |form|
  .row
    .col-xs-8
      = render :partial => "form", :locals => { :form => form }
  %hr

  .row
    .col-xs-8
      %h2 Questions
      = form.fields_for :questions do |q|
        .row.question{:data => { :question_index => "0" } }
          - question_index += 1

          %h3
            Question
            %span.question_number
            = link_to "Remove", "#", class: "remove_question btn btn-default"

          .form-group
            = q.label :content, "Question Content"
            = q.text_field :content, class: "form-control"

            = q.fields_for :answers do |af|
              .row.answer
                .form-group.col-xs-9
                  = af.label :content, "Answer"
                  = af.text_field :content, class: "form-control"
                .form-group.col-xs-3.correct_checkbox
                  = af.label :correct, "Correct?"
                  = af.check_box :correct

      .row
        = link_to "Add Question", "#", class: "add_question btn btn-info"
  .row
    .form-group
      = form.button "Create Quiz", type: "submit", class: "btn btn-primary"
