- content_for :title, "QuizVids || Quiz"
- question_index = 0

.row
  %h2 Quiz Details

.row
  .col-sm-8
    %table.table
      %tr
        %th Name
        %td= @quiz.name

      %tr
        %th Author
        %td= @quiz.author

.row
  %h2 Questions

.row
  .col-sm-8
    %table.table
      %tr
        %th No.
        %th Question Content
        %th Answers

      - @quiz.questions.each_with_index do |question, index|
        %tr
          %td= index + 1
          %td= question.content
          %td= link_to "Answers", quiz_question_answers_path(@quiz, question)
