- content_for :title, "QuizVids || Quiz"

.row
  %h2 Quiz Details

.row
  .col-sm-8
    %table.table
      %tr
        %th Name
        %td= @quiz.name

      %tr
        %th Author
        %td= @quiz.user.name

      %tr
        %th Question Count
        %td= @quiz.questions.count

- if signed_in? && ((current_user == @quiz.user) || admin?)
  .row
    .col-sm-8
      = link_to "Edit", edit_quiz_path(@quiz), class: "btn btn-default"
      = link_to "Delete", quiz_path(@quiz), method: :delete, class: "btn btn-danger"
