.row
  %h2 New Answer

  .row
    .col-md-8
      = form_for [@quiz, @question, @answer] do |form|
        .form-group.col-sm-9
          = form.label :content, "Answer"
          = form.text_field :content, class: "form-control"
        .form-group.col-sm-3.correct_checkbox
          = form.label :correct, "Correct?"
          = form.check_box :correct

        .form-group
          = form.button "Create", type: "submit", class: "btn btn-primary"
