!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "App_Name"
    %meta{:content => content_for?(:description) ? yield(:description) : "App_Name", :name => "description"}
    = stylesheet_link_tag :application, :media => "all"
    = csrf_meta_tags
    = yield :head
    / [if lt IE 9]
      = javascript_include_tag :modernizr
  %body
    - if flash[:message]
      #header-message= flash[:message]

    %header.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          .navbar-brand
            QuizVids

    %section.container
      = yield
      = debug(params) if Rails.env.development?
    = javascript_include_tag :application
